{% load i18n %}
{% include "wagtail_treebeard/chooser/includes/browse_breadcrumbs.html" with link_class="treebeard-snippet-chooser-navigate" %}
{% if can_choose_root and not browse_parent %}
    <p>
        <button type="button" class="button button-small button-secondary treebeard-snippet-chooser-clear-parent">
            {% trans "Create as root (no parent)" %}
        </button>
    </p>
{% endif %}
{% if can_show_create_root_action %}
    <p>
        <a href="{{ create_root_url }}" class="button button-small button-secondary treebeard-snippet-chooser-create-link">
            {% trans "Add root level item" %}
        </a>
    </p>
{% endif %}
{% if can_show_create_child_action %}
    <p>
        <a href="{{ create_child_url }}" class="button button-small button-secondary treebeard-snippet-chooser-create-link">
            {% trans "Add child" %}
        </a>
    </p>
{% endif %}
