{% extends "wagtailadmin/generic/base.html" %}
{% load i18n %}

{% block main_content %}
    {% if user_can_add_root %}
        <p class="w-help-text">
            <a href="{{ add_root_url }}" class="button button-secondary">{% trans "Add to the root level" %}</a>
        </p>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="help help-warning">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for field in form %}
            {% include "wagtailadmin/shared/field.html" with field=field %}
        {% endfor %}

        <footer class="footer">
            <button type="submit" class="button">{% trans "Continue" %}</button>
            <a href="{{ cancel_url }}" class="button button-secondary">{% trans "Cancel" %}</a>
        </footer>
    </form>
{% endblock %}
